{% extends 'web/base.html' %}
{% load static %}
{% block title %} {{product.name}} - Ecommerce Website{% endblock %}
{% block content %}
<div class="container single_product_container">
  <div class="row">
    <div class="col">

      <!-- Breadcrumbs -->

      <div class="breadcrumbs d-flex flex-row align-items-center">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="categories.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a></li>
          <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Single Product</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-7">
      <div class="single_product_pics">
        <div class="row">
          <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
            <div class="single_product_thumbnails">
              <ul>
                <li><img src="{% static 'web/images/single_1_thumb.jpg' %}" alt="" data-image="{% static 'web/images/single_1.jpg' %}"></li>
                <li class="active"><img src="{% static 'web/images/single_2_thumb.jpg' %}" alt="" data-image="{% static 'web/images/single_2.jpg' %}"></li>
                <li><img src="{% static 'web/images/single_3_thumb.jpg' %}" alt="" data-image="{% static 'web/images/single_3.jpg' %}"></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9 image_col order-lg-2 order-1">
            <div class="single_product_image">
              <div class="single_product_image_background" style="background-image:url({% static 'web/images/single_2.jpg' %})"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5">
      <div class="product_details">
        <div class="product_details_title">
          <h2>{{product.name}}</h2>
          <p>{{product.description}}</p>
        </div>
        <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
          <span class="ti-truck"></span><span>ücretsiz teslimat</span>
        </div>
        <div class="original_price">$629.99</div>
        <div class="product_price">{{product.price}}</div>
        <ul class="star_rating">
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star" aria-hidden="true"></i></li>
          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
        </ul>
        <div class="product_color">
          <span>Renk Seçeneği:</span>
          <ul>
            <li style="background: #e54e5d"></li>
            <li style="background: #252525"></li>
            <li style="background: #60b3f3"></li>
          </ul>
        </div>
        <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
          <span>Adet:</span>
          <div class="quantity_selector">
            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
            <span id="quantity_value">1</span>
            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
          </div>
          <div class="red_button add_to_cart_button"><a href="#">Sepet Ekle</a></div>
          <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Tabs -->

<div class="tabs_section_container">

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="tabs_container">
          <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
            <li class="tab active" data-active-tab="tab_1"><span>Description</span></li>
            <li class="tab" data-active-tab="tab_2"><span>Additional Information</span></li>
            <li class="tab" data-active-tab="tab_3"><span>Reviews (2)</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">

        <!-- Tab Description -->

        <div id="tab_1" class="tab_container active">
          <div class="row">
            <div class="col-lg-5 desc_col">
              <div class="tab_title">
                <h4>Description</h4>
              </div>
              <div class="tab_text_block">
                <h2>Pocket cotton sweatshirt</h2>
                <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut...</p>
              </div>
              <div class="tab_image">
                <img src="{% static 'web/images/desc_1.jpg' %}" alt="">
              </div>
              <div class="tab_text_block">
                <h2>Pocket cotton sweatshirt</h2>
                <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut...</p>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-2 desc_col">
              <div class="tab_image">
                <img src="{% static 'web/images/desc_2.jpg' %}" alt="">
              </div>
              <div class="tab_text_block">
                <h2>Pocket cotton sweatshirt</h2>
                <p>Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut...</p>
              </div>
              <div class="tab_image desc_last">
                <img src="{% static 'web/images/desc_3.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>

        <!-- Tab Additional Info -->

        <div id="tab_2" class="tab_container">
          <div class="row">
            <div class="col additional_info_col">
              <div class="tab_title additional_info_title">
                <h4>Additional Information</h4>
              </div>
              <p>COLOR:<span>Gold, Red</span></p>
              <p>SIZE:<span>L,M,XL</span></p>
            </div>
          </div>
        </div>

        <!-- Tab Reviews -->

        <div id="tab_3" class="tab_container">
          <div class="row">

            <!-- User Reviews -->

            <div class="col-lg-6 reviews_col">
              <div class="tab_title reviews_title">
                <h4>Reviews (2)</h4>
              </div>

              <!-- User Review -->

              <div class="user_review_container d-flex flex-column flex-sm-row">
                <div class="user">
                  <div class="user_pic"></div>
                  <div class="user_rating">
                    <ul class="star_rating">
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="review">
                  <div class="review_date">27 Aug 2016</div>
                  <div class="user_name">Brandon William</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>

              <!-- User Review -->

              <div class="user_review_container d-flex flex-column flex-sm-row">
                <div class="user">
                  <div class="user_pic"></div>
                  <div class="user_rating">
                    <ul class="star_rating">
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    </ul>
                  </div>
                </div>
                <div class="review">
                  <div class="review_date">27 Aug 2016</div>
                  <div class="user_name">Brandon William</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>

            <!-- Add Review -->

            <div class="col-lg-6 add_review_col">

              <div class="add_review">
                <form id="review_form" action="post">
                  <div>
                    <h1>Add Review</h1>
                    <input id="review_name" class="form_input input_name" type="text" name="name" placeholder="Name*" required="required" data-error="Name is required.">
                    <input id="review_email" class="form_input input_email" type="email" name="email" placeholder="Email*" required="required" data-error="Valid email is required.">
                  </div>
                  <div>
                    <h1>Your Rating:</h1>
                    <ul class="user_star_rating">
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                    </ul>
                    <textarea id="review_message" class="input_review" name="message"  placeholder="Your Review" rows="4" required data-error="Please, leave us a review."></textarea>
                  </div>
                  <div class="text-left text-sm-right">
                    <button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">submit</button>
                  </div>
                </form>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block page_static %}
<script type="text/javascript">

/* JS Document */

/******************************

[Table of Contents]

1. Vars and Inits
2. Set Header
3. Init Menu
4. Init Thumbnail
5. Init Quantity
6. Init Star Rating
7. Init Favorite
8. Init Tabs



******************************/

jQuery(document).ready(function($)
{
	"use strict";

	/*

	1. Vars and Inits

	*/

	var header = $('.header');
	var topNav = $('.top_nav')
	var hamburger = $('.hamburger_container');
	var menu = $('.hamburger_menu');
	var menuActive = false;
	var hamburgerClose = $('.hamburger_close');
	var fsOverlay = $('.fs_menu_overlay');

	setHeader();

	$(window).on('resize', function()
	{
		setHeader();
	});

	$(document).on('scroll', function()
	{
		setHeader();
	});

	initMenu();
	initThumbnail();
	initQuantity();
	initStarRating();
	initFavorite();
	initTabs();

	/*

	2. Set Header

	*/

	function setHeader()
	{
		if(window.innerWidth < 992)
		{
			if($(window).scrollTop() > 100)
			{
				header.css({'top':"0"});
			}
			else
			{
				header.css({'top':"0"});
			}
		}
		else
		{
			if($(window).scrollTop() > 100)
			{
				header.css({'top':"-50px"});
			}
			else
			{
				header.css({'top':"0"});
			}
		}
		if(window.innerWidth > 991 && menuActive)
		{
			closeMenu();
		}
	}

	/*

	3. Init Menu

	*/

	function initMenu()
	{
		if(hamburger.length)
		{
			hamburger.on('click', function()
			{
				if(!menuActive)
				{
					openMenu();
				}
			});
		}

		if(fsOverlay.length)
		{
			fsOverlay.on('click', function()
			{
				if(menuActive)
				{
					closeMenu();
				}
			});
		}

		if(hamburgerClose.length)
		{
			hamburgerClose.on('click', function()
			{
				if(menuActive)
				{
					closeMenu();
				}
			});
		}

		if($('.menu_item').length)
		{
			var items = document.getElementsByClassName('menu_item');
			var i;

			for(i = 0; i < items.length; i++)
			{
				if(items[i].classList.contains("has-children"))
				{
					items[i].onclick = function()
					{
						this.classList.toggle("active");
						var panel = this.children[1];
					    if(panel.style.maxHeight)
					    {
					    	panel.style.maxHeight = null;
					    }
					    else
					    {
					    	panel.style.maxHeight = panel.scrollHeight + "px";
					    }
					}
				}
			}
		}
	}

	function openMenu()
	{
		menu.addClass('active');
		// menu.css('right', "0");
		fsOverlay.css('pointer-events', "auto");
		menuActive = true;
	}

	function closeMenu()
	{
		menu.removeClass('active');
		fsOverlay.css('pointer-events', "none");
		menuActive = false;
	}

	/*

	4. Init Thumbnail

	*/

	function initThumbnail()
	{
		if($('.single_product_thumbnails ul li').length)
		{
			var thumbs = $('.single_product_thumbnails ul li');
			var singleImage = $('.single_product_image_background');

			thumbs.each(function()
			{
				var item = $(this);
				item.on('click', function()
				{
					thumbs.removeClass('active');
					item.addClass('active');
					var img = item.find('img').data('image');
					singleImage.css('background-image', 'url(' + img + ')');
				});
			});
		}
	}

	/*

	5. Init Quantity

	*/

	function initQuantity()
	{
		if($('.plus').length && $('.minus').length)
		{
			var plus = $('.plus');
			var minus = $('.minus');
			var value = $('#quantity_value');

			plus.on('click', function()
			{
				var x = parseInt(value.text());
				value.text(x + 1);
			});

			minus.on('click', function()
			{
				var x = parseInt(value.text());
				if(x > 1)
				{
					value.text(x - 1);
				}
			});
		}
	}

	/*

	6. Init Star Rating

	*/

	function initStarRating()
	{
		if($('.user_star_rating li').length)
		{
			var stars = $('.user_star_rating li');

			stars.each(function()
			{
				var star = $(this);

				star.on('click', function()
				{
					var i = star.index();

					stars.find('i').each(function()
					{
						$(this).removeClass('fa-star');
						$(this).addClass('fa-star-o');
					});
					for(var x = 0; x <= i; x++)
					{
						$(stars[x]).find('i').removeClass('fa-star-o');
						$(stars[x]).find('i').addClass('fa-star');
					};
				});
			});
		}
	}

	/*

	7. Init Favorite

	*/

	function initFavorite()
	{
		if($('.product_favorite').length)
		{
			var fav = $('.product_favorite');

			fav.on('click', function()
			{
				fav.toggleClass('active');
			});
		}
	}

	/*

	8. Init Tabs

	*/

	function initTabs()
	{
		if($('.tabs').length)
		{
			var tabs = $('.tabs li');
			var tabContainers = $('.tab_container');

			tabs.each(function()
			{
				var tab = $(this);
				var tab_id = tab.data('active-tab');

				tab.on('click', function()
				{
					if(!tab.hasClass('active'))
					{
						tabs.removeClass('active');
						tabContainers.removeClass('active');
						tab.addClass('active');
						$('#' + tab_id).addClass('active');
					}
				});
			});
		}
	}
});

</script>
{% endblock %}
